<form (ngSubmit)="onSubmit()" [formGroup]="userForm">
  <label>
    Username:
    <input type="text" formControlName="userName" />
  </label>
  
  <div formGroupName="credential">
    <label>
      Email:
      <input type="email" formControlName="email" />
    </label>
    <label>
      Password:
      <input type="password" formControlName="password" />
    </label>
  </div>

  <div formGroupName="address">
    Address:
    <label>
      <input type="text" formControlName="street" placeholder="street" />
    </label>
    <label>
      <input type="text" formControlName="zip" placeholder="zip" />
    </label>
    <label>
      <input type="text" formControlName="city" placeholder="city" />
    </label>
  </div>

  <div>
    <button type="submit">register</button>
  </div>
</form>
